In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
gu_data=pd.read_csv('../ws/data/자치구 단위 서울 생활인구(내국인).csv',encoding='euc-kr')
gu_data.head(10)

,기준일ID,시간대구분,자치구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,남자30세부터34세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20241106,0,11110,204354.2861,4381.0483,2650.3527,5603.3637,9130.3934,8357.9071,7096.4066,...,9216.4444,7011.6803,8222.5672,7550.8732,8416.3053,7954.6686,7904.8764,7064.1384,4798.3973,13522.7765
1,20241106,0,11140,171268.2004,4165.2991,1592.3431,2273.9094,5602.4612,6490.2791,7796.1874,...,8145.7524,7908.6681,9292.4744,7383.0664,7048.8831,6280.6131,6258.4246,5478.9626,3781.5444,9576.2725
2,20241106,0,11170,233977.5300,7290.4120,3640.4755,4527.9643,6636.5236,8500.9761,10050.7492,...,10509.8797,11431.0700,13383.5347,10754.8116,10239.2450,8765.2198,8113.2747,7107.6192,5409.0117,13988.2637
3,20241106,0,11200,322279.8480,11198.1206,4626.5026,6883.1125,11262.7946,13080.6092,11855.6332,...,14369.5944,14160.2008,16940.2014,13966.1881,13149.0965,11712.4240,11692.3022,9780.5047,7617.9899,19174.7988
4,20241106,0,11215,364381.7679,11262.0427,6011.8841,9197.3539,15392.8597,17029.7088,14508.8959,...,20755.4430,16308.9269,16315.6666,14000.3885,14826.1324,12796.8387,13409.4414,11010.6693,8519.4348,19159.1862
5,20241106,0,11230,347199.5463,9799.7693,4804.8369,8109.4994,17914.8389,15961.7900,11233.3284,...,17360.9756,12625.6373,14249.5163,12399.2390,12806.5792,11330.3540,11773.7074,9841.2281,8322.9600,23113.5099
6,20241106,0,11260,358351.3346,12789.9552,6165.8189,7480.0432,8819.5383,12475.0111,13231.9631,...,15204.3783,15070.7600,16076.0287,13484.7534,13905.0599,13668.4980,16141.1241,14164.8243,10304.0355,26490.0213
7,20241106,0,11290,439872.8342,16451.3612,9170.3269,13697.5444,19114.5304,16095.9020,12205.7867,...,17650.2613,14062.6795,17377.1595,16553.5376,18415.6369,17327.9712,16472.3002,13875.8322,10542.8356,30398.7677
8,20241106,0,11305,284168.0417,9210.4042,5022.7856,6110.7562,8659.2705,9510.2279,8538.3457,...,11132.4386,8993.3749,9859.9707,9985.4269,11671.1141,11816.3255,12670.6601,11237.6815,8603.2734,25750.4051
9,20241106,0,11320,275342.9349,9541.7182,5330.1274,6915.0583,6775.8431,8353.1179,8125.4336,...,9303.4987,8885.8168,10561.3999,9559.1952,11229.2527,11262.0687,12869.1264,11640.8025,9078.3414,24195.3158

In [ ]:
sep_12=pd.read_csv('../data/생활이동_자치구_2024.09_12시.csv',encoding='euc-kr')
sep_12.head(10)

     대상연월 요일  도착시간  출발 시군구 코드  도착 시군구 코드 성별  나이 이동유형  평균 이동 시간(분)  이동인구(합)
0  202409  일    12      11010      11010  F   0   EE           37  1874.52
1  202409  일    12      11010      11010  F   0   EH           17   166.30
2  202409  일    12      11010      11010  F   0   HE           21   361.33
3  202409  일    12      11010      11010  F   0   HW           11    55.02
4  202409  일    12      11010      11010  F  10   EE           36   994.94
5  202409  일    12      11010      11010  F  10   EH           61   166.01
6  202409  일    12      11010      11010  F  10   EW          126    11.99
7  202409  일    12      11010      11010  F  10   HE           36   285.68
8  202409  일    12      11010      11010  F  10   HH           14     5.88
9  202409  일    12      11010      11010  F  10   HW            9    29.58

In [3]:
sep_traffic1=pd.read_excel('../ws/data/09월 서울시 교통량 조사자료(2024).xlsx',sheet_name=1)
sep_traffic1.head()

,일자,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,20240901,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,474.0,355.0,280.0,200.0,...,1662.0,1706.0,1653.0,1572.0,1195.0,1090.0,972.0,965.0,782.0,503.0
1,20240902,월,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,322.0,195.0,153.0,153.0,...,1728.0,1806.0,1865.0,1888.0,1711.0,1401.0,1240.0,1092.0,991.0,676.0
2,20240903,화,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,474.0,335.0,236.0,169.0,...,1712.0,1846.0,1937.0,1929.0,1960.0,1612.0,1262.0,1209.0,1037.0,839.0
3,20240904,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,519.0,381.0,244.0,202.0,...,1768.0,2004.0,1847.0,2114.0,1861.0,1559.0,1283.0,1183.0,1019.0,751.0
4,20240905,목,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,569.0,419.0,286.0,227.0,...,1723.0,1901.0,1949.0,2051.0,1699.0,1355.0,1243.0,1300.0,1165.0,850.0

In [9]:
sep_traffic2=pd.read_excel('../ws/data/09월 서울시 교통량 조사자료(2024).xlsx',sheet_name=2)
sep_traffic2.head()

,지점번호,지점명칭,검지기 유형,위도,경도,주소,도로명 주소,유입 방향,유출방향
0,A-01,성산로(금화터널),지자기,37.568588,126.948436,서울시 서대문구 신촌동 1-142,NaN,[성산로]봉원고가차도->독립문역,[성산로]독립문역->봉원고가차도
1,A-02,사직로(사직터널),지자기,37.572298,126.962853,서울시 종로구 행촌동 1-186,NaN,[사직로]독립문역->사직단,[사직로]사직단->독립문역
2,A-03,자하문로(자하문터널),지자기,37.588831,126.968548,서울시 종로구 청운동 24-6,NaN,[자하문로]석파정->청운초등학교,[자하문로]청운초등학교->석파정
3,A-04,대사관로(삼청터널),지자기,37.596359,126.984209,서울시 성북구 성북동 산25-148,NaN,[삼청로]삼청각->삼청공원입구,[삼청로]삼청공원입구->삼청각
4,A-05,율곡로(안국역),지자기,37.576000,126.984342,서울시 종로구 경운동 90-4,서울시 종로구 율곡로 46,[율곡로]안국역->안국동사거리,[율곡로]안국동사거리->안국역

In [14]:
flight=pd.read_csv('../ws/data/Clean_Dataset.csv')
flight.head()

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [17]:
airasia=flight[flight['airline']=='AirAsia']
airasia.head()

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
18,18,AirAsia,I5-747,Delhi,Evening,one,Early_Morning,Mumbai,Economy,12.25,1,5949
19,19,AirAsia,I5-747,Delhi,Evening,one,Morning,Mumbai,Economy,16.33,1,5949
27,27,AirAsia,I5-744,Delhi,Morning,one,Afternoon,Mumbai,Economy,5.83,1,8869
48,48,AirAsia,I5-784,Delhi,Evening,one,Early_Morning,Mumbai,Economy,15.17,1,12539

In [18]:
flight2=pd.read_excel('../ws/data/Data_Train.xlsx')
flight2.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [19]:
flight2.head(50)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
5,SpiceJet,24/06/2019,Kolkata,Banglore,CCU → BLR,09:00,11:25,2h 25m,non-stop,No info,3873
6,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,18:55,10:25 13 Mar,15h 30m,1 stop,In-flight meal not included,11087
7,Jet Airways,01/03/2019,Banglore,New Delhi,BLR → BOM → DEL,08:00,05:05 02 Mar,21h 5m,1 stop,No info,22270
8,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,08:55,10:25 13 Mar,25h 30m,1 stop,In-flight meal not included,11087
9,Multiple carriers,27/05/2019,Delhi,Cochin,DEL → BOM → COK,11:25,19:15,7h 50m,1 stop,No info,8625
10,Air India,1/06/2019,Delhi,Cochin,DEL → BLR → COK,09:45,23:00,13h 15m,1 stop,No info,8907
11,IndiGo,18/04/2019,Kolkata,Banglore,CCU → BLR,20:20,22:55,2h 35m,non-stop,No info,4174
12,Air India,24/06/2019,Chennai,Kolkata,MAA → CCU,11:40,13:55,2h 15m,non-stop,No info,4667
13,Jet Airways,9/05/2019,Kolkata,Banglore,CCU → BOM → BLR,21:10,09:20 10 May,12h 10m,1 stop,In-flight meal not included,9663
14,IndiGo,24/04/2019,Kolkata,Banglore,CCU → BLR,17:15,19:50,2h 35m,non-stop,No info,4804
15,Air India,3/03/2019,Delhi,Cochin,DEL → AMD → BOM → COK,16:40,19:15 04 Mar,26h 35m,2 stops,No info,14011
16,SpiceJet,15/04/2019,Delhi,Cochin,DEL → PNQ → COK,08:45,13:15,4h 30m,1 stop,No info,5830
17,Jet Airways,12/06/2019,Delhi,Cochin,DEL → BOM → COK,14:00,12:35 13 Jun,22h 35m,1 stop,In-flight meal not included,10262
18,Air India,12/06/2019,Delhi,Cochin,DEL → CCU → BOM → COK,20:15,19:15 13 Jun,23h,2 stops,No info,13381
19,Jet Airways,27/05/2019,Delhi,Cochin,DEL → BOM → COK,16:00,12:35 28 May,20h 35m,1 stop,In-flight meal not included,12898
20,GoAir,6/03/2019,Delhi,Cochin,DEL → BOM → COK,14:10,19:20,5h 10m,1 stop,No info,19495
21,Air India,21/03/2019,Banglore,New Delhi,BLR → COK → DEL,22:00,13:20 19 Mar,15h 20m,1 stop,No info,6955
22,IndiGo,3/04/2019,Banglore,Delhi,BLR → DEL,04:00,06:50,2h 50m,non-stop,No info,3943
23,IndiGo,1/05/2019,Banglore,Delhi,BLR → DEL,18:55,21:50,2h 55m,non-stop,No info,4823
24,Jet Airways,6/05/2019,Kolkata,Banglore,CCU → BOM → BLR,18:55,08:15 07 May,13h 20m,1 stop,In-flight meal not included,7757
25,Jet Airways,9/06/2019,Delhi,Cochin,DEL → IDR → BOM → COK,21:25,12:35 10 Jun,15h 10m,2 stops,No info,13292
26,IndiGo,1/06/2019,Delhi,Cochin,DEL → LKO → COK,21:50,03:35 02 Jun,5h 45m,1 stop,No info,8238
27,GoAir,15/05/2019,Delhi,Cochin,DEL → BOM → COK,07:00,12:55,5h 55m,1 stop,No info,7682
28,Vistara,18/06/2019,Banglore,Delhi,BLR → DEL,09:45,12:35,2h 50m,non-stop,No info,4668
29,Vistara,15/06/2019,Chennai,Kolkata,MAA → CCU,07:05,09:20,2h 15m,non-stop,No info,3687
30,Vistara,18/06/2019,Chennai,Kolkata,MAA → CCU,07:05,09:20,2h 15m,non-stop,No info,3687
31,Air India,1/05/2019,Kolkata,Banglore,CCU → GAU → DEL → BLR,09:50,23:15,13h 25m,2 stops,No info,13227
32,IndiGo,6/04/2019,Banglore,Delhi,BLR → DEL,04:00,06:50,2h 50m,non-stop,No info,4423
33,Jet Airways,15/06/2019,Delhi,Cochin,DEL → NAG → BOM → COK,14:35,12:35 16 Jun,22h,2 stops,In-flight meal not included,10919
34,Jet Airways,18/05/2019,Delhi,Cochin,DEL → BOM → COK,07:05,12:35,5h 30m,1 stop,In-flight meal not included,12373
35,IndiGo,27/06/2019,Delhi,Cochin,DEL → BOM → COK,10:35,21:00,10h 25m,1 stop,No info,5894
36,SpiceJet,21/05/2019,Kolkata,Banglore,CCU → MAA → BLR,15:05,20:20,5h 15m,1 stop,No info,4649
37,Air India,18/05/2019,Kolkata,Banglore,CCU → BLR,14:15,16:45,2h 30m,non-stop,No info,6245
38,Jet Airways,06/03/2019,Banglore,New Delhi,BLR → BOM → DEL,07:00,13:15,6h 15m,1 stop,No info,19225
39,Jet Airways,3/06/2019,Delhi,Cochin,DEL → BOM → COK,07:05,19:00,11h 55m,1 stop,No info,14924
40,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → HYD → COK,07:05,18:10,11h 5m,1 stop,No info,9646
41,Air India,15/03/2019,Banglore,New Delhi,BLR → BOM → DEL,06:45,15:15,8h 30m,1 stop,No info,8714
42,Jet Airways,18/05/2019,Delhi,Cochin,DEL → BOM → COK,20:55,19:00 19 May,22h 5m,1 stop,In-flight meal not included,12373
43,Air Asia,6/05/2019,Banglore,Delhi,BLR → DEL,11:10,13:55,2h 45m,non-stop,No info,3383
44,Multiple carriers,21/03/2019,Delhi,Cochin,DEL → BOM → COK,09:00,21:00,12h,1 stop,No info,13062
45,SpiceJet,24/03/2019,Banglore,New Delhi,BLR → DEL,05:45,08:35,2h 50m,non-stop,No check-in baggage included,3527
46,IndiGo,27/05/2019,Banglore,Delhi,BLR → DEL,04:00,06:50,2h 50m,non-stop,No info,3943
47,Air India,3/05/2019,Chennai,Kolkata,MAA → CCU,11:40,13:55,2h 15m,non-stop,No info,4667
48,Air India,15/05/2019,Kolkata,Banglore,CCU → HYD → BLR,19:00,11:05 16 May,16h 5m,1 stop,No info,6117
49,Jet Airways,27/06/2019,Delhi,Cochin,DEL → AMD → BOM → COK,23:05,19:00 28 Jun,19h 55m,2 stops,In-flight meal not included,11150